body {
    background-color: white;
    color: white;
    font-family: 'Tahoma', sans-serif;
}




.wrapper {
    width: 95%;
    margin: auto;
}

#header  {
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 5px;
    border: 2px solid #FBED20;
    border-radius: 8px;

    background-color: #0046BE;

    box-shadow: 5px 5px 5px black;   
}

.page {
    width: 100%;
    background-color: white;
}

#center-section {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
  
    color: #003DA6;
    text-shadow: 1px 1px  black;
}

.canvas-box {
    margin: 5px;
    display: flex;
    align-items: center;

}

.canvas-box-label {
    margin: auto;
    color: black;
}




#graph-canvas {

    margin: auto;
    background-image: linear-gradient(#0046BE, #6280b4);
    border: 2px solid #FBED20;
    box-shadow: 5px 5px 5px black;   
    border-radius: 8px;

}


#graph-detail-section {

    margin-top: 20px;
    padding: 10px;
    height: 100px;
    background-image: linear-gradient(#0046BE, #6280b4);
    border: 2px solid #FBED20;
    box-shadow: 5px 5px 5px black;   
    border-radius: 8px;
    font-size: 12px;
}



#graph-distribution-radio-section {
   margin: auto;
   width: 30%;
}

#graph-distribution-list {
    list-style-type: none;
    overflow: hidden;
}

.graph-distribution-radio {
    display: block;
    float: left;   
}




#graph-detail-section-title {

    color: yellow;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;

}

#graph-detail-section-node-count {
    
    background-color: black;

}

#graph-detail-section-node-count-input {
   
    background-color: pink;
}


#detail-user-section {
    display: flex;
    column-gap: 10px;
    align-items: center;
   
}



#NodeTotalCount {
    color: #FBED20;
    font-weight: bold;
}

#NodeToWorkOn {
    width: 30px;
}

#NodeToWorkOn:focus {
    background-color: #8da3ca;
    color: white;
  }


#warning-section {
    visibility: hidden;

}
  

#error-warning-msg {
    color: red;
    font-weight: bold;
}


#infoBox1 {
    background-color: black;
   
}


/* Note: Since this is for the Web Component 'infoBox', it should not be here, in a general CSS */
.table-infoBox {
    border: 1px solid;
    border-collapse: collapse;
}

.td-infoBox {
    border: 1px solid;
    padding: 3px 10px 3px 10px;
}


.header-rotated-section {
  
    -ms-transform: skewY(-3deg); /* IE 9 */
    transform: skewY(-3deg);
}

.header-title {

    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
}